body {
    margin: 0;
    background-attachment: fixed;
}

.menu {
    background-color: #010F12;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.menu img {
    width: 100px;
    margin-left: 20px;
}

.menu .a {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    display: inline;
    margin: 8px;
    padding: 10px;
    height: 40%;
    width: 30%;
    position: relative;
    top: 30px;
}

.menu .carrinho img{
    width: 50px;
    margin-top: 20px;
}

.menu .carrinho{
    position: relative;
    margin-right: 100px;
}

.menu .carrinho {
    position: relative;
    margin-right: 100px;
}

.menu .carrinho img {
    width: 50px;
    margin-top: 20px;
}

.menu .carrinho .bolinha {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red; 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: none; 
}

#comprar:checked ~ .carrinho .bolinha{
    display: block;
}



.menu .a:hover{
    color:rgb(197, 188, 116);
}

.banner {
    background: linear-gradient(to right, rgb(188, 171, 38), #9e6803); 
    margin-top: 100px;
    display: flex;
    align-items: center;
    transition: background 0.1s ease; 
}

.img-container {
    overflow: hidden;
    border-radius: 500px;
}

.img-container img {
    width: 500px;
}

.nov {
    margin-left: 20px;
    text-align: center;
}

.nov h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
}

.nov button:hover{
    background-color:#e1aa43 ;
}

.nov button{
    border-radius: 15px;
    background-color:#e3b45c;
    width: 120px;
    height: 30px;
    border: rgb(255, 255, 255);
}

.nov button a{
    text-decoration: none;
    color:rgb(250, 250, 250);
    font-family: Arial, Helvetica, sans-serif; 
}

.rod{
    margin-top: 350px;
    background-color:#010F12;
    height:50px;
}

.rod img{
    width: 30px;
    margin-top: 10px;
    margin-left: 50px;
}

.esp {
    width: 150px;
}

.produto {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #9e6803ad;
}

.produto img {
    width: 80%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.produto figcaption {
    font-size: 1.5em;
    margin-top: 10px;
}

.produto p {
    margin-top: 10px;
}

.produto button {
    background-color: #d4ac55;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

